//typography

$roboto: 'roboto' , sans-serif;

//weight font

$light: 300;
$regular:400;
$bold:700;

//font sizes

$xxx-large:50px;
$xx-large: 30px;
$x-large: 20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;


//colors

$coral:coral;
$white:white;
$gris:gray;
$gris-claro:#EEEEEE;







//breakpoint

$very-small:320px;
$small:576px;
  $medium: 768px;
  $large: 992px;
  $huge: 1200px;




